:root{
    --first-color: #F0E3CA;
    --second-color: #FF8303;
    --third-color: #A35709;
    --fourth-color: #1B1A17;
}

p{
    color: var(--first-color);
}

header {
    position: sticky;
    top: 0;
}

.nav-wrapper {
    display: flex;
    flex-direction: column;
}

.nav-1, .info-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-2, .info-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.info-2 {
    text-transform: capitalize;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    margin: auto 10px;
}

a:hover {
    text-decoration: underline;    
}

.donate-btn {
    border: none;

}

